* {
  font-family: 'Roboto Condensed', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 10;
}

p,
h1 {
  margin: 0;
  padding: 0;
}

#output {
  padding: 12px;
  border: 1px solid #000;
  border-radius: 4px;
  text-align: left;
  line-height: 26px;
  width: 300px;
}

#messageBox {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 42px;
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  font-size: 18px;
}

#messageInput {
  width: 60%;
  height: 36px;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 0 12px;
  font-size: 18px;
  box-sizing: border-box;
  transition: all ease-in-out 300ms;
}

#messageInput:disabled {
  background-color: #ddd;
  border: none;
}

#send {
  font-size: 18px;
  background-color: #000;
  border-radius: 4px;
  color: #fff;
  height: 36px;
  padding: 0;
  margin: 0;
  width: 60px;
  overflow: hidden;
  border: none;
  outline: none;
  transition: all ease-in-out 300ms;
}

#send:disabled {
  background-color: #ddd;
}

.error {
  color: red;
}

.sent {
  color: #000;
}

.response {
  color: #555;
}

#status {
  margin: 24px;
}

.description {
  margin-top: -20px;
  color: #888;
}
